<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#19376D">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="./icons/icon.png">
    <link rel="icon" href="./icons/icon.png">

    <script defer src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Restaurant Catalogue</title>
</head>

<body>
    
    <a class="skip-to-content" href="#restaurant-list" tabindex="0">Skip to content</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Restaurant Catalogue</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/lamrositorus" target="_blank">About</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent" tabindex="0">
    </main>
    <footer>
        <p>Copyright &copy; 2024 - <a target="_blank" href="https://github.com/lamrositorus">lamro</a></p>
    </footer>

</body>

</html>